/* Strong leader body color */
.creed .char-body {
    background: linear-gradient(#303f9f, #1a237e);
}

/* Deep blue presidential coat */
.creed .char-coat {
    background: linear-gradient(#3f51b5, #1a237e);
}

/* Dark authoritative hair */
.creed .char-hair {
    background: linear-gradient(#4e342e, #3b271f);
}

