{% extends "layout.html" %}
{% block content %}

<div class="galaxy-wrapper">

    <!-- Page Title -->
    <h1 class="galaxy-title">Choose Your World</h1>

    <!-- Main Galaxy Hub -->
    <div class="galaxy-container">

        <!-- Character at Center -->
        <div class="galaxy-center">
            <div class="center-character-icon">🧠</div>
            <div class="center-character-name">
                {{ character.replace('_', ' ').title() }}
            </div>
        </div>

        <!-- Rotating Orbit -->
        <div class="galaxy-orbit">
            <!-- NumForge -->
            <div class="planet" style="transform: rotate(0deg) translate(220px) rotate(0deg);" data-subject="math">
                <img src="/static/planets/num_forge.png" class="planet-img">
                <div class="planet-name">NumForge</div>
            </div>

            <!-- AtomSphere -->
            <div class="planet" style="transform: rotate(32deg) translate(220px) rotate(-32deg);" data-subject="science">
                <img src="/static/planets/atom_sphere.png" class="planet-img">
                <div class="planet-name">AtomSphere</div>
            </div>

            <!-- StoryVerse -->
            <div class="planet" style="transform: rotate(64deg) translate(220px) rotate(-64deg);" data-subject="reading">
                <img src="/static/planets/story_verse.png" class="planet-img">
                <div class="planet-name">StoryVerse</div>
            </div>

            <!-- InkHaven -->
            <div class="planet" style="transform: rotate(96deg) translate(220px) rotate(-96deg);" data-subject="writing">
                <img src="/static/planets/ink_haven.png" class="planet-img">
                <div class="planet-name">InkHaven</div>
            </div>

            <!-- ChronoCore -->
            <div class="planet" style="transform: rotate(128deg) translate(220px) rotate(-128deg);" data-subject="history">
                <img src="/static/planets/chrono_core.png" class="planet-img">
                <div class="planet-name">ChronoCore</div>
            </div>

            <!-- PowerGrid -->
            <div class="planet" style="transform: rotate(160deg) translate(220px) rotate(-160deg);" data-subject="testprep">
                <img src="/static/planets/power_grid.png" class="planet-img">
                <div class="planet-name">PowerGrid</div>
            </div>

            <!-- TruthForge -->
            <div class="planet" style="transform: rotate(192deg) translate(220px) rotate(-192deg);" data-subject="logic">
                <img src="/static/planets/truth_forge.png" class="planet-img">
                <div class="planet-name">TruthForge</div>
            </div>

            <!-- FaithRealm -->
            <div class="planet" style="transform: rotate(224deg) translate(220px) rotate(-224deg);" data-subject="bible">
                <img src="/static/planets/faith_realm.png" class="planet-img">
                <div class="planet-name">FaithRealm</div>
            </div>

            <!-- CoinQuest -->
            <div class="planet" style="transform: rotate(256deg) translate(220px) rotate(-256deg);" data-subject="finance">
                <img src="/static/planets/coin_quest.png" class="planet-img">
                <div class="planet-name">CoinQuest</div>
            </div>

            <!-- StockStar -->
            <div class="planet" style="transform: rotate(288deg) translate(220px) rotate(-288deg);" data-subject="economics">
                <img src="/static/planets/stock_star.png" class="planet-img">
                <div class="planet-name">StockStar</div>
            </div>

            <!-- TerraNova -->
            <div class="planet" style="transform: rotate(320deg) translate(220px) rotate(-320deg);" data-subject="geography">
                <img src="/static/planets/terra_nova.png" class="planet-img">
                <div class="planet-name">TerraNova</div>
            </div>

        </div>
    </div>

</div>

<script>
document.querySelectorAll(".planet").forEach(p => {
    p.addEventListener("click", () => {
        const subject = p.dataset.subject;
        window.location.href = `/ask-question?subject=${subject}`;
    });
});
</script>

{% endblock %}



